<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Suite" verbose="1" thread-count="2" parallel="tests" >
    <test name="Regression-Chrome" thread-count="2" parallel="methods">
        <parameter name="browser" value="CHROME"/>
        <packages>
            <package name="org.selenium.pom.tests"/>
        </packages>
    </test>
    <test name="Regression-Firefox" thread-count="2" parallel="methods">
        <parameter name="browser" value="FIREFOX"/>
        <packages>
            <package name="org.selenium.pom.tests"/>
        </packages>
    </test>
</suite>
